# SPDX-FileCopyrightText: Copyright (c) 2026 Mediatek
# SPDX-License-Identifier: Apache-2.0

if SOC_FAMILY_MT81XX_SCP

config NUM_IRQS
	default 176

config INCLUDE_RESET_VECTOR
	default y

config SYS_CLOCK_HW_CYCLES_PER_SEC
	default $(dt_node_int_prop_int,/cpus/cpu@0,clock-frequency)

config MULTI_LEVEL_INTERRUPTS
	default y

config 2ND_LEVEL_INTERRUPTS
	default y

config MAX_IRQ_PER_AGGREGATOR
	default 160

config 2ND_LVL_ISR_TBL_OFFSET
	default 16

config 2ND_LVL_INTR_00_OFFSET
	default 11

endif # SOC_FAMILY_MT81XX_SCP
